.desktop,.mobile {
    height: 100vh;
    font-family: arial , sans-serif;
    color: rgba(0,0,0,80%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .desktop {
      display: none;
    }
    .mobile {
        display: flex;
    }
}

a {
    text-decoration: none;
}

.header-footer {
    display: flex;
    font-weight: 400;
    font-size: 1.7vh;
}

header {
    justify-content: space-between;
    padding: 0px 1px;
    /* margin-top: 10px; */
}

header nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

header nav a {
    margin: 8px 6px;
    color: rgba(0,0,0,70%);
}

header nav a:hover {
    text-decoration: underline;
}

.btn {
    padding: 8px 13px;
    border-radius: 3px;
    background-color: rgb(248, 249,250);
    font-weight: 100;
    letter-spacing: 0.02em;
}

.btn:hover {
    box-shadow: 0px 0px 1px 1px rgb(225,225,225);
}

.btn-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-width: 75px;
    font-size: 1.7vh;
    background-color: rgb(36, 118, 229);
    color: white;
    margin: 0px;
}

.btn-header:hover {
    text-decoration: none;
    background-color: rgb(69, 134, 225);
}

summary {
    padding: 0px 1px 0 1px;
    list-style-type: none;
}

#drawer-symbol {
    cursor: pointer;
    margin: 6px 15px;
}

summary svg {
    height: 15px;
    fill: #5f6368;
}

.mobile summary svg {
    margin-top: 2px;
    height: 20px;
}

#drawer-symbol summary:hover {
    border: 0px;
    border-radius: 100%;
    box-shadow: 0px -1px 0px 8px rgb(240,240,240);
    background-color: rgb(240,240,240);
}

.dropdown {
    background-color: white;
    position: absolute;
    height: 448px;
    width: 328px;
    transform: translateY(30px)translateX(-200px);
    border: 1px solid rgb(225,225,225);
    border-radius: 15px;
    box-shadow: 0 0 5px 2px rgb(225,225,225);
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop .main {
    margin-top: -140px;
}

.mobile .main {
    margin-top: 20px;
}

#logo {
    width: 203px;
    padding-bottom: 23px;
}

.search-box {
    align-items: center;
    /* margin: 10px; */
    border: 1px solid rgba(225,225,225,87%);
    border-radius: 30px;
    display: flex;
    height: 34px;
    width: 100%;
    max-width: 435px;
    min-width: 400px;
    padding: 0px 5px;
}

.mobile .search-box {
    max-width: 95vw;
    min-width: 0;
}

.search-box:hover {
    box-shadow: 0px 1px 3px 1px rgba(225,225,225,87%);
}

.search-box img {
    height: 18px;
    margin: 0px 6px;
}

.search-box svg {
    height: 16px;
    margin-left: 5px;
    fill: rgb(154, 160, 166);
}

.mobile .search-box svg {
    height: 22px;
    margin-left: 3px;
}

#search-bar {
    flex-grow: 1;
}

input {
    width: 100%;
    font-size: large;
    border-style: hidden;
    outline: none;
}

nav button {
    margin-top: 20px;
    margin-right: 2px;
    font-size: x-small
}

footer {
    background-color: rgb(242, 242,242);
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    color: rgb(112, 117, 121);
}

footer p {
    padding-bottom: 30px;
    padding-left: 15px;
    background: url("images/carbon.png") no-repeat;
    background-size: 10px 10px;

}

footer nav {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.extra-space {
    width: 32%;
}

footer a {
    color: #70757a;
    /* margin-right: 25px; */
}

footer a:hover {
    text-decoration: underline;
}

footer section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mobile-header a {
    color: gray;
    
    -webkit-text-stroke: 1px gray;
}

.mobile-header details[open] summary {
    /* border: 0px; */
    border-radius: 50%;
    box-shadow: 0px -1px 0px 8px rgb(240,240,240);
    background-color: rgb(240,240,240);
}

.mobile .btn-header {
    max-height: 39px;
    color: white;
    -webkit-text-stroke: 0px gray;
}

#selected-pane {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 40px;
    color: rgb(70,136,240);
    -webkit-text-stroke: 1px rgb(70,136,240);
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(70,136,240);
}

#mobile-logo {
    width: 200px;
    padding-bottom: 30px;
}

.trending{
    width: 90%;
}

.trending figcaption {
    margin: 30px 0px;
    padding: 0 10px;
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trending svg {
    height: 17px;

}

.trending figure {
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
    
}

.trending figure a {
    color: black;
    padding: 20px 0px 20px 50px;
    border-bottom: 1px solid rgb(225,225,225);
    background: url(images/trending.svg) no-repeat;
    background-size: 20px 20px;
    background-position: 10px 17px;
}

.mobile footer{
    margin-top: 100px;
    border-top: 1px solid rgb(225,225,225);
    font-weight: 100;
    font-size: 15px;
}

.mobile footer section{
    flex-direction: column;
}

.mobile footer nav {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#bottom-footer {
    padding: 20px 60px;
}

.filler {
    overflow: visible;
    height: 30px;
    width: 100vw;
    border-bottom: 1px solid rgb(225,225,225);
}

details summary::-webkit-details-marker {
    display:none;
}